@import '../../variable';

.container {
    @include flex-center;
    position: fixed;
    top : 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: lighten(black, 30%);
    opacity: 0.4;
}

.modal {
    @include flex-center;
    flex-direction: column;
    position: relative;
    padding : $padding-top $padding-left;
    width: 500px;
    height: 300px;
    border-radius: $radius;
    background-color: black;
    color: white;

    table {
        width: 100%;
        border-spacing: $gap;

        td {
            text-align: center;
        }
    }
}

.delete_btn {
    position: absolute;
    top: $padding-top;
    right: $padding-left;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.submit_btn {
    position: absolute;
    bottom : $padding-top;
    left : $padding-left;
}

.time_select_btn {

    &::webkit-datetime-edit-ampm-field {
        display: none;
    }
}