$gap: 16px;

$radius: 20px;

$padding-top: 16px;

$padding-left: 16px;

$calender-width: 50px;

$calender-height: 50px;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}